@font-face {
  font-family: "iconfont"; /* Project id 3922072 */
  src: url('iconfont.woff2?t=1678263818209') format('woff2'),
       url('iconfont.woff?t=1678263818209') format('woff'),
       url('iconfont.ttf?t=1678263818209') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantouyou:before {
  content: "\e604";
}

.icon-shibai:before {
  content: "\e605";
}

.icon-gengduo:before {
  content: "\e606";
}

.icon-duihao:before {
  content: "\e607";
}

.icon-wenhao:before {
  content: "\e608";
}

.icon-caidan:before {
  content: "\e609";
}

.icon-guanbi1:before {
  content: "\e60a";
}

.icon-daohangfanhui:before {
  content: "\e60b";
}

.icon-jiantouxia:before {
  content: "\e60c";
}

.icon-jiantouyou1:before {
  content: "\e60d";
}

.icon-jiazai:before {
  content: "\e60e";
}

.icon-jiantoushang:before {
  content: "\e60f";
}

.icon-bianji:before {
  content: "\e610";
}

.icon-guanbi2:before {
  content: "\e611";
}

.icon-tianjia1:before {
  content: "\e612";
}

.icon-tianjia2:before {
  content: "\e613";
}

.icon-tongzhi:before {
  content: "\e614";
}

.icon-sousuo:before {
  content: "\e615";
}

.icon-xianshi:before {
  content: "\e616";
}

.icon-shaixuan:before {
  content: "\e617";
}

.icon-wode:before {
  content: "\e618";
}

.icon-shanchu1:before {
  content: "\e619";
}

.icon-shouye:before {
  content: "\e61a";
}

.icon-xuanzhong:before {
  content: "\e61b";
}

.icon-tongxunlu:before {
  content: "\e61c";
}

.icon-yaoqing:before {
  content: "\e61d";
}

.icon-yixuanzhong:before {
  content: "\e61e";
}

.icon-shezhi:before {
  content: "\e61f";
}

.icon-xinxishuoming:before {
  content: "\e620";
}

.icon-zengjia:before {
  content: "\e659";
}

.icon-shanchu:before {
  content: "\e69c";
}

