#body .interface_page {
    width: 840px;
    height: 100%;
    margin-left: 50px;
}

.font_color {
    color: #1ab394;
}

.marginLeft {
    margin-left: 10px;
}

#body .interface_page .interface_url {
    width: 100%;
    height: 60px;
    border: 1px solid #acabab;
}

.interface_page .interface_url .method {
    height: 42px;
    width: 80px;
    border: 1px solid #acabab;
    text-align: center;
    margin-top: 9px;
    float: left;
    margin-left: 10px;
    border-radius: 3px;
    color: #a4a7a7;
}

option {
    font-size: 16px;
    background-color: #7de0cd;
}

.interface_page .interface_url .input_url {
    width: 600px;
    height: 40px;
    padding: 0;
    border: 1px solid #acabab;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    border-radius: 3px;
}

.interface_page .interface_url .submit {
    width: 80px;
    height: 42px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    border-radius: 3px;
    border: 1px solid #acabab;
}

.cut_body {
    width: 840px;
    height: 35px;
    margin-top: 10px;
}

.cut_body span {
    font-size: 14px;
    color: #a4a7a7;
    font-weight: bold;
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    top: auto;
    float: left;
}

.cut_body span:hover {
    cursor: pointer;
    color: black;
}

.cut_body .parameter {
    color: #1ab394;
    border: 1px solid #c2c6c6;
    border-radius: 4px;
}

.data_selector {
    margin-top: 10px;
    height: 100%;
    width: 840px;
}

.data_selector table {
    border: 1px solid #a4a7a7;
    border-collapse: collapse;
}

.interface_data,
.interface_head{
    width: 840px;
}

.interface_data thead,
.interface_head thead {
    background-color: #cdc9c9;
    padding: 0;
    margin: 0;
}

.interface_data th,
.interface_head th {
    font-size: 16px;
}

.interface_data td,
.interface_head td {
    padding: 2px 2px;
    margin: 0;
}

.interface_data .key,
.interface_head .key {
    margin-left: 3px;
}

.interface_data .checkbox,
.interface_head .checkbox {
    padding: 3px 5px;
}

.data_body input {
    height: 24px;
}

.data_body .param {
    width: 290px;
}

.data_body .operation {
    width: 80px;
}

.data_body i {
    float: left;
    margin-left: 7px;
    font-size: 22px;
}

/*返回结果*/
.interface_response {
    margin-top: 10px;
    height: 100%;
    width: 840px;
}

.interface_response .response_title {
    width: 100%;
    height: 35px;
}

.interface_response .response_title span {
    color: #1ab394;
    border: 1px solid #c2c6c6;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    /*top: auto;*/
    float: left;
}

.interface_response .response_title span:hover {
    cursor: pointer;
}

.interface_response .response_data {
    height: 250px;
    width: 100%;
    border: 1px solid #acabab;
    margin-top: 1px;
}

.interface_response .response_data .response_btn {
    margin: 8px 0 0 8px;
    width: 80px;
    height: 20px;
}

.interface_response .response_data .response_btn a {
    float: left;
    width: 30px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: #1ab394;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    margin-left: 5px;
    border: none;
}


.interface_response .response_data .response_content {
    margin-top: 3px;
    width: 100%;
    height: auto;
}
