{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="interface_page">
        <form action="" method="post">
            {% csrf_token %}
            {# url部分 #}
            <div class="interface_url marginLeft">
                <select name="method" id="method" class="method">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                </select>
                <input type="text" placeholder="Request URL" class="input_url">
                <button type="submit" class="submit font_color">send</button>
            </div>
            {# 消息头/消息体按钮 #}
            <div class="cut_body marginLeft">
                <span class="parameter">Parameter</span>
                <span class="header">Header</span>
            </div>
            {# 请求体/消息头 #}
            <div class="data_selector">
                {# 请求体部分 #}
                <div class="interface_data marginLeft">
                    <table class="data_body">
                        <thead>
                            <tr>
{#                                <th class="checkbox"><input type="checkbox" class="checkAll"></th>#}
                                <th>Key</th>
                                <th>Value</th>
                                <th>Description</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody class="data_tb">
                            <tr>
{#                                <td class="checkbox"><input type="checkbox" name="choice" class="check"></td>#}
                                <td><input type="text" class="key" name="key" placeholder="key"></td>
                                <td><input class="param" type="text" name="value" placeholder="value"></td>
                                <td><input class="param" type="text" name="description" placeholder="description"></td>
                                <td class="operation">
                                    <i class="iconfont font_color" id="add_data">&#xe612;</i>
                                    <i class="iconfont font_color" id="del_data">&#xe69c;</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {# 消息头部分 #}
                <div class="interface_head marginLeft" style="display: none">
                    <table class="data_body">
                        <thead>
                            <tr>
{#                                <th class="checkbox"><input type="checkbox" class="checkAll"></th>#}
                                <th>Key</th>
                                <th>Value</th>
                                <th>Description</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody class="head_tb">
                            <tr>
{#                                <td class="checkbox"><input type="checkbox" name="choice" class="check"></td>#}
                                <td><input type="text" class="key" name="key" placeholder="key"></td>
                                <td><input type="text" class="param" name="value" placeholder="value"></td>
                                <td><input type="text" class="param" name="description" placeholder="description"></td>
                                <td class="operation">
                                    <i class="iconfont font_color" id="add_head">&#xe612;</i>
                                    <i class="iconfont font_color" id="del_head">&#xe69c;</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {# 返回值部分 #}
            <div class="interface_response marginLeft">
                <div class="response_title">
                    <span>Response</span>
                </div>
                <div class="response_data">
                    <div class="response_btn">
                        <a href="javascript:">折叠</a>
                        <a href="javascript:">展开</a>
                    </div>
                    <div class="response_content">

                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function(){
            parameter_click();
            addParameter('head');
            addParameter('data');
            //checkAll();
            send();
        });

/*        function checkAll() {
            $('.checkAll').click(function(){
                if ($(this).prop('checked')){
                    $(this).prop('checked', true);
                    $(this).parents('thead').next().find('.check').prop('checked', true);
                    {#$('.check').prop('checked', false);#}
                }else {
                    $(this).prop('checked', false);
                    $(this).parents('thead').next().find('.check').prop('checked', false);
                    {#$('.check').prop('checked', true);#}
                }
            });
        }

*/

        function marge_data(elem) {
            var data = {};
            var tr_all = $(elem).children('tr');
            var tr_num = $(elem).children('tr').length;
            for (var i = 0; i < tr_num; i++) {
                var key = tr_all.eq(i).find('.key').val();
                var value = tr_all.eq(i).find("input[name='value']").val();
                if (key !== '' && value !== '') {
                    data[key] = value;
                }
            }
            data = JSON.stringify(data);
            return data;
        }

        function send() {
            $('.submit').click(function(e) {
                if ($('.input_url').val() === '') {
                    swal({
                        title: 'Request URL不能为空',
                        text: '请输入URL',
                        type: 'warning'
                    });
                }else {
                    var method = $('.method').val();
                    var url = $('.input_url').val();
                    var header = marge_data('.head_tb');
                    var body = marge_data('.data_tb');
                    $.post(
                        '/interface_tools/send/',
                        {
                            method: method,
                            url: url,
                            header: header,
                            paramter: body,
                        },
                        function (data) {
                            if (data !== '') {
                                $('.response_content').JSONView(data);
                            }
                        }

                    )
                }
            });
        }

        function parameter_click(){
            $('.parameter').click(function () {
                $(this).css({color: '#1ab394',border: '1px solid #c2c6c6', borderRadius: '4px'});
                $('.header').css({color: '#c2c6c6', border: '0'});
                $('.interface_head').css({display: 'none'});
                $('.interface_data').css({display: 'block'});
            });
            $('.header').click(function(){
                $(this).css({color: '#1ab394',border: '1px solid #c2c6c6', borderRadius: '4px'});
                $('.parameter').css({color: '#c2c6c6', border: '0'});
                $('.interface_data').css({display: 'none'});
                $('.interface_head').css({display: 'block'});
            });
        }

        function addParameter(elem){
            $('.' + elem + '_tb').on('click', '#add_' + elem, function(){
                addHtml(elem);
            });
            $('.' + elem + '_tb').on('click', '#del_' + elem, function(){
                if ($('.' + elem + '_tb').children().length > 1){
                    console.log($(this))
                    $(this).parent().parent().remove();
                }
            })
        }

        function addHtml(elem) {
            $('.' + elem + '_tb').append(
                '<tr>' +
                    {#'<td class="checkbox"><input type="checkbox" name="choice" class="check"></td>' +#}
                    '<td><input type="text" class="key" name="key" placeholder="key"></td>' +
                    '<td><input type="text" class="param" name="value" placeholder="value"></td>' +
                    '<td><input type="text" class="param" name="description" placeholder="description"></td>' +
                    '<td class="operation">' +
                        '<i class="iconfont font_color" id="add_'+elem+'">&#xe612;</i>' +
                        '<i class="iconfont font_color" id="del_'+elem+'">&#xe69c;</i>' +
                    '</td>' +
                '</tr>'
            );
        }
    </script>
{% endblock %}


